.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-form label {
  font-weight: bold;
}

.search-bar {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--rounded);
  border: none;
}

.search-submit {
  padding: 0.5rem 1rem;
  border-radius: var(--rounded);
  background-color: var(--accent);
  color: var(--white);
  display: flex;
  place-items: center;
  gap: 0.5rem;
  font-weight: bold;
  transition: all .2s ease;
}

.search-submit:hover {
  color: var(--accent);
  background-color: var(--white);
}