:root {
  --white: #fff;
  --accent: #6600ff;
  --secondary: #002233;
  --font: 'Montserrat', sans-serif;
  --rounded: 0.5rem;
  --font-xl: 3rem;
  --font-normal: 1rem;
  --font-small: 0.9rem;
  accent-color: var(--accent);
}

body {
  margin: 0;
  font-family: var(--font);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
label {
  font-family: var(--font);
  font-size: var(--font-normal);
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  font-size: var(--font-xl);
}

img {
  width: 100%;
}